/*-----------------
        RESET
-------------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: aqua;
    padding: 10px 0;
}

.debug{
    border: 1px dashed;
}

header{
    display: flex;
    justify-content: center;
}

.flex{
    display: flex;
    list-style-type: none;
}

.logo, .log{
    width: 10%;
}

.log{
    text-align: right;
}

.gold{
    background-color: gold;
}

.link{
    width: 40%;
}

.sect1{
    background-color: darkblue;
    height: 200px;
    padding: 20px 0;
}

.sect2{
    height: 200px;
    padding: 20px 0;
}

.window1{
    height: 100%;
    width: 30%;
    background-color: violet;
    margin: auto;
}